body{
    background-image: url("assets/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo{
    max-width: 150px;
}

.containerTop{  
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#timer {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
}

#timer-text {
    position: absolute;
    text-align: center;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);
}

#progress {
    transition: stroke-dashoffset 1s linear;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

#main div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.buttonQuestion {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    margin: 10px;
}

