body{
    background-image: url("assets/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerTop{  
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    
}

#logo {
    max-width: 150px;
    position: relative;
    left:  80px;
    top: 20px;
}

#timer {
    position: relative;
    width: 100px;
    height: 100px;
    right: 100px;
    top: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-size: 10px; 
}

#timer-text {
    position: absolute;
    text-align: center;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);
}

#progress {
    transition: stroke-dashoffset 1s linear;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    position: relative;
    top: 70px;
    text-align: center;
}

#main div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

#question {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.FlexButton {
    display: flex;
    align-items:center; 
  }

button {
    background-color: transparent;
    border-color: white;
    border-radius: 50px; 
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

.buttonQuestion {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    margin: 10px;
}
#questionNumber {
    font-size: small;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    position: relative;
    top: 200px; 
    text-align: center;
}
